@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
  padding:5px;
}

/*
.github-icon {
  background-image: url("./media/github.svg");
  height:50px;
}

.linkedIn-icon {
  background-image: url("./media/linkedin.svg");
  height:50px;
}
*/
#hero {
  position: fixed;
  left: 0;
  right: 0;
  height: 85px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
